body{
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
h1{
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}
ul{
}
li{
  font-family: 'Open Sans', sans-serif;
  list-style: none;
  color: #ffffff;
}
p{
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}
.fondonegro{
  background-color: #0a0a0a;
  color: #ffffff;
}
.fondonegro a{
  color: #ffffff;
}
a{
  color: #ffffff;
}
.mgtop{
  margin-top: 8px;
}

.logo{
  background-image: url("../img/logotrekking.png");
  background-size: 100% 100%;
}
.contenedortr{
background-color: rgba(0, 0, 0, 0.6);
}

.contenedortrp{
background-color: rgba(0, 0, 0, 0.6);
width: auto;
height: auto;
padding: 25px;
border-radius: 5px;
}

.contenedortr p{
  text-decoration-color: #ffffff;
}
.containerpadre{
  padding: 25px;
  border-radius: 5px;
}

.clasebotones{
  border-radius: 5px;
  padding: 2px;
}
.contsep{
  margin-top: 50px;
  padding: 25;
}



/* usuario_viajes */

.viaje1 {
	height: 450px;
	width: 1600px;
	/* border: 1px solid black; */
	margin-top: 10px;
	margin-left: 100px;
	float: left;
}

.viaje_descripcion {
	height:290px;
	width: 310px;
	/* border: 1px solid black; */
	margin-top: 5px;
	margin-left: 5px;
	float: left;
}

.contenedorimagenes{
  height: 400px;
  width: 1200px;
  float:left;
  margin-top:33px;
}

.imagen{
	height: 180px;
	width: 250px;
}
.content-all{
	height: 1000px;
	width: auto;
	background-image: url("../img/bienvenido.jpg");
	background-size: 100% 100%;
}
